In [14]:
import mysql.connector as connector
from mysql.connector import Error

try:
    connection = connector.connect(
        user="root",
        password="Scimitar1!",
        database="littlelemondb"
    )
    if connection.is_connected():
        print("âœ… Connected to database.")
except Error as e:
    print("âŒ Connection failed:", e)

âœ… Connected to database.

In [15]:
try:
    cursor = connection.cursor()
    cursor.execute("SHOW TABLES")
    tables = cursor.fetchall()
    for (name,) in tables:
        print(f" - {name}")
except Exception as e:
    print("âŒ Error while querying:", e)

 - bookings
 - customers
 - menuitems
 - menus
 - orderdeliverystatus
 - orders
 - ordersview
 - staff
 - vw2ordersplaced
 - vwordersover_150

In [16]:
contact_details_query = """
SELECT 
    Customers.CustomerName,
    Customers.ContactNumber, 
    Orders.Cost
FROM 
    Customers
JOIN 
    Orders ON Customers.CustomerID = Orders.CustomerID
WHERE 
    Orders.TotalCost > 60;
"""

try:
    cursor = connection.cursor()
    cursor.execute(contact_details_query)
    results = cursor.fetchall()

    print("Customers with orders over $60:")
    for row in results:
        full_name, contact_number, total_cost = row
        print(f"Name: {full_name}, Contact: {contact_number}, Total Spent: ${total_cost}")

except Exception as e:
    print("Query failed:", e)

Customers with orders over $60:
Name: Alice Smith, Contact: 0400000001, Total Spent: $100.00
Name: Bob Johnson, Contact: 0400000002, Total Spent: $80.00
Name: Diana Prince, Contact: 0400000004, Total Spent: $75.00
Name: Fiona Chan, Contact: 0400000006, Total Spent: $95.00
Name: George Hall, Contact: 0400000007, Total Spent: $85.00
Name: Ian Black, Contact: 0400000009, Total Spent: $120.00
Name: Jane Doe, Contact: 0400000010, Total Spent: $65.00
Name: Alice Smith, Contact: 0400000001, Total Spent: $160.00
Name: Bob Johnson, Contact: 0400000002, Total Spent: $175.00
Name: Carlos Diaz, Contact: 0400000003, Total Spent: $180.00
Name: Alice Smith, Contact: 0400000001, Total Spent: $140.00
Name: Bob Johnson, Contact: 0400000002, Total Spent: $130.00

In [17]:
if 'cursor' in locals():
    cursor.close()
if 'connection' in locals() and connection.is_connected():
    connection.close()
    print("ðŸ”Œ Connection closed.")

ðŸ”Œ Connection closed.